@import 'the-new-css-reset/css/reset.css';
@import '@wikimedia/codex/dist/codex.style.css';
@import '@wikimedia/codex-design-tokens/dist/theme-wikimedia-ui.css';

html,
body {
  line-height: var(--line-height-medium);
  font-size: 14px;
}

body {
  font-family: var(--font-family-base);
  color: var(--color-base);

  font-synthesis: style;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  min-height: 600px;
  width: 320px;
}

.icon {
  display: flex; /* center svg */
  cursor: pointer;
}
