@import 'the-new-css-reset/css/reset.css';
@import '@wikimedia/codex/dist/codex.style.css';
@import '@wikimedia/codex-design-tokens/dist/theme-wikimedia-ui.css';

:root {
  --divider: rgba(60, 60, 67, 0.12);
}

html,
body {
  line-height: var(--line-height-medium);
}

body {
  font-family: var(--font-family-system-sans);
  font-synthesis: style;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  min-height: 600px;
  width: 320px;
}

h1 {
  font-size: var(--font-size-x-large);
  font-weight: var(--font-weight-semi-bold);
}

.icon {
  cursor: pointer;
}
